{% extends "main.html" %}
{% block content %}
    <div class ="flash_message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li> <strong> {{message}} </strong> </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
	<div class="row">
		<div class="categories column column-25">
			<div class="categories__list">
				<h6 class="list_header">
                    <span class="header_title">Categories</span>
                    <span class="header_bar"></span>
				</h6>
				<ul class="list__items">
					{% for category in categories %}
						<a href="{{url_for('show_category_items', category_id=category.id)}}">
							<li class="item_list">
								<span class="item_name">{{category.name}}</span>
							</li>
						</a>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="latest column column-75">
			<div class="latest_list">
				<h6 class="list_header">
					<span class="header_title">{{category.name}} ({{number_of_category_items}} items)</span>
					<span class="header_bar"></span>
				</h6>
				<ul class="list__items">
					{% for item in category_items %}
						<a href="{{url_for ('show_item', item_id=item.id, category_id=item.category.id)}}">
							<li class="item_list">
								<span class="item_name">{{item.name}}</span>
							</li>
						</a>
					{% endfor %}
				</ul>
                {% if 'username' in session %}
					<a href="{{url_for('add_item', category_id=category.id)}}" class="button u add_item">Add Item</a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}
