{% extends "main.html" %}
{% block content %}
	<div class="row">
		<div class="category-item column">
			<h6 class="item_header">
				<span class="header_title">Edit {{item.name}}</span>
				<span class="header_bar"></span>
			</h6>
			<form action="#" method="post" class="item_form">
				<fieldset>
					<label for="" class="form_label">Name:</label>
					<input type="text" name="name" value="{{item.name}}" class="form__input">
					<label for="" class="form_label">Description:</label>
					<textarea name="description" id="" cols="30" rows="10" class="form_textarea">{{item.description}}</textarea>
					<label for="" class="form_label">Category:</label>
					<select class="form__select" name="category">
						{% for category in categories %}
							{% if item.category_id == category.id %}
								<option selected value="{{category.id}}">{{category.name}}</option>
							{% else %}
								<option value="{{category.id}}">{{category.name}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</fieldset>
				<a href="{{url_for('show_item', category_id=item.category_id, item_id=item.id)}}" class="button button-outline">Cancel</a>
				<input type="submit" value="Save">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							 <p class="flash_message">{{message}}</p>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</form>
		</div>
	</div>
{% endblock %}