{% extends "main.html" %}
{% block content %}
	<div class="row">
		<div class="item column">
			<h5 class="item_header">
				<span class="header_title">{{item.name}}</span>
				<span class="header_bar"></span>
			</h5>
			<div class="item_description">
				{{item.description}}
			</div>
			<div class="item_controls">
				<a href="{{url_for('show_category_items', category_id=item.category_id)}}" class="button button-outline">Cancel</a>
                <a href="{{url_for('edit_item', category_id=category.id, item_id=item.id)}}" class="button button-outline">Edit</a>
                <a href="{{url_for('delete_item', category_id=category.id, item_id=item.id)}}" class="button button-outline">Delete</a>
			</div>
		</div>
	</div>
{% endblock %}